UEP_APP_ENV=development
UEP_APP_DEBUG=true
UEP_TIMEZONE=Asia/Manila
UEP_BASE_PATH=/ueples-scheduling-system

UEP_DB_HOST=localhost
UEP_DB_PORT=3306
UEP_DB_NAME=ueples_scheduling_system
UEP_DB_USER=root
UEP_DB_PASS=
