# Ignore the database config with passwords
backend/config/db.php

# Ignore system files
.DS_Store
Thumbs.db

# Ignore vendor folders (if you use composer later)
vendor/

#ignore scripts
inject_theme.php
inject_theme.py